<img
  *ngIf="employeeList.length == 0"
  src="../../assets/no-employee.png"
  id="noemployee"
  alt="no-employee"
/>

<div class="column-flex" style="height: 100%">
  <div
    *ngIf="employeeList.length > 0"
    style="width: 100%; overflow: auto; height: 100%"
  >
    <div>
      <p class="header-font">Current Employees</p>
      <mat-card>
        <mat-card-content class="employee-card">
          <div
            *ngFor="let employee of currentEmployees"
            class="column-flex list"
            (click)="edit(employee.id)"
          >
            <span style="font-weight: bold">{{ employee.employeename }}</span>
            <span>{{ employee.role }}</span>
            <span>From {{ employee.from | date : "dd MMM,yyy" }}</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <p class="header-font">Previous Employees</p>
      <mat-card>
        <mat-card-content class="employee-card">
          <div
            *ngFor="let employee of previousEmployees"
            class="column-flex list"
            (click)="edit(employee.id)"
          >
            <span style="font-weight: bold">{{ employee.employeename }}</span>
            <span>{{ employee.role }}</span>
            <span
              >{{ employee.from | date : "dd MMM,yyy" }} -
              {{ employee.to | date : "dd MMM,yyy" }}</span
            >
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <footer>
    <span style="margin: 1rem">Swipe left to delete. Click card to edit.</span>
    <button class="add-button" mat-fab (click)="addEmployee()">
      <mat-icon>add</mat-icon>
    </button>
  </footer>
</div>
