#noemployee {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.emp-list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
}
.column-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header-font {
  color: var(--base-color);
  font-weight: bold;
  line-height: 5rem;
  background-color: rgb(229, 228, 228);
  padding-left: 1rem;
  margin: 0;
}
.employee-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.employee-card.mat-mdc-card-content:last-child {
  padding-bottom: 0;
  padding-top: 0;
  padding: 0;
}
.employee-card:hover {
  cursor: pointer;
}
.list {
  border-bottom: 1px solid lightgrey;
  padding: 1rem;
}
.column-flex span:not(:first-child) {
  color: lightgrey;
}
.add-button {
  --mdc-fab-container-shape: 20%;
  background-color: var(--base-color);
  margin: 0 1rem 2rem 0;
  width: 4.5rem;
  height: 5rem;
}
.theme-icons .mat-icon {
  color: white;
}

.theme-icons {
  z-index: -100;
  background-color: orangered;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  width: 6rem;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
