/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
  font-size: 10px;
}

@media only screen and (min-width: 2400px) {
  html,
  body {
    font-size: 20px;
  }
}

@media only screen and (min-width: 3400px) {
  html,
  body {
    font-size: 30px;
  }
  .mat-typography {
    font-size: 30px !important;
    line-height: normal;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}
* {
  margin: 0;
}
html {
  --base-color: #5baffe;
}

.mat-mdc-raised-button.mat-primary.mat-mdc-raised-button {
  background-color: var(--base-color);
}

.theme-color {
  background-color: var(--base-color) !important;
}

footer {
  background-color: lightgrey;
  color: rgb(165, 164, 164);
  display: flex;
  justify-content: space-between;
}

.mat-mdc-text-field-wrapper {
  background-color: white;
}

mat-select .mat-mdc-select-arrow {
  color: var(--base-color);
}

mat-datepicker-content .mat-datepicker-content-container {
  // margin-top: 5rem;
}

.top-date-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
}

.top-date-buttons button {
  background-color: rgb(230, 243, 255) !important;
  color: var(--base-color) !important;
}

.top-date-buttons button:focus {
  background-color: var(--base-color) !important;
  color: white !important;
}

mat-datepicker-content .mat-datepicker-actions .bottom-date-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.header1 .top-date-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.header1 .no-date,
.header2 .next-monday,
.header2 .next-tuesday,
.header2 .next-week {
  display: none;
}

mat-calendar .mat-calendar-body-selected {
  background-color: var(--base-color);
}

mat-calendar
  .mat-calendar-body-today:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  border-color: var(--base-color);
}

@media only screen and (max-width: 600px) {
  .cdk-overlay-pane.mat-datepicker-popup {
    width: 90%;
  }
  .cdk-overlay-pane .mat-datepicker-content,
  .cdk-overlay-pane .mat-datepicker-content .mat-calendar {
    width: inherit;
  }
}
